@import url("styles/cabecalho.css");
@import url("styles/banner.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: "Inter", sans-serif;
    --cinza-texto: #667085;
    --cinza-escuro: #101828;
    --vermelho: #8E2424;
    --branco: #FFFFFF;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--branco);
}